.notes-controls {
  border: 1px solid #eee;
  box-shadow: 0 0 8px rgba(50, 50, 50, 0.3);
  background-color: white;
  border-radius: 3px;
  margin: 150px auto;
  overflow: hidden;
  position: relative;
  width: 500px;
}

.notes-controls-inner {
  position: relative;
  margin: 10px auto;
  padding: 16px;
  margin-left: 30px;
}

.note {
  color: #026aa7;
  display: inline-block;
  margin-right: 6px;
  width: 40px;
}

.note-name {
  display: inline-block;
  margin-bottom: 2px;
  margin-left: 2px;
  margin-top: 2px;
  user-select: none;
  width: 20px;
}

.controls {
  display: inline-block;
}

#modal-root {
  position: relative;
  z-index: 99;
}

.notes-controls-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  bottom: 0;
  height: 100%;
  left: 0;
  overflow-y: auto;
  position: fixed !important;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 99;
}

.increment-note,
.decrement-note {
  cursor: pointer;
  display: block;
  fill: #026aa7;
  height: 15px;
  margin-left: 2px;
  margin-right: 2px;
  vertical-align: middle;
  width: 15px;
}
